node_modules/
temp*/
package-lock.json
howto.md
.gitattributes
src/notes.md
logs/
test*
src/Events/resume.js
src/Commands/4_fun/
.vscode/
.VSCodeCounter/
config/*.json
config/Playlists/*.json
!*.example
*.old*
