{
    "ignoreECONNRESET": true,
    "terminateOnUncaughtException": true,
    "bot": {
        "token": "put your bot token here",
        "prefix": "*",
        "ignoreMessageEndingWithPrefix": false,
        "owner_id": "put your discord id here"
    },
    "status": {
        "status": "online",
        "game": "made by EnhancedMind ❤️"
    },
    "emoji": {
        "success": ":notes:",
        "info": ":bulb:",
        "warning": ":warning:",
        "error": ":no_entry_sign:",
        "loading": ":watch:",
        "searching": ":mag_right:"
    },
    "response": {
        "notValidCommand": false,
        "missingArguments": "Missing arguments. Please use `{prefix}help` for more information.",
        "invalidPermissions": "You do not have the permission to use this command.",
        "invalidNumber": "Please provide a valid number.",
        "noChannel": "You must be in a voice channel.",
        "wrongChannel": "You must be in the same voice channel as I am.",
        "afkChannel": "You can't be in a AFK voice channel.",
        "noMusic": "No music is playing on this server."
    },
    "player": {
        "playlistFolderPath": "Playlists",
        "stayInChannel": true,
        "maxTimeSeconds": 0,
        "downloaderMaxTimeSeconds": 1800,
        "aloneTimeUntilStopSeconds": 180,
        "forbiddenKeywords": [ "forbiddenKeyword1", "forbiddenKeyword2" ],
        "updateIntervalMiliseconds": 7500,
        "loudnessNormalization": false,
        "bitrate": "96k",
        "selfDeaf": false,
        "debug": false,
        "library": {
            "player": "play-dl",
            "downloader": "ytdl-core",
            "info": "ytdl-core"
        },
        "sponsorBlock": {
            "enabled": true,
            "clientUUID": "your client uuid v4",
            "minSegmentLengthSeconds": 5,
            "maxStartOffsetSeconds": 3,
            "maxEndOffsetSeconds": 4
        },
        "youtubeCookie": "a=1; b=2; c=3...  LEAVE THIS BLANK IF NOT USED!!!!!!!"
    },
    "logs": {
        "resetLogOnStart": false,
        "logToFile": false,
        "timeFormat": "en-US"
    }
}